.booking {
  background-image: url('../img/background-form.webp');
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  background-position: 0 6%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-form@2x.webp");
  }

  @include vp-1023 {
    background-position: right;
  }
}

.booking__wrapper {
  display: flex;
  align-items: center;
  padding: 50px 32px;
  max-width: 1102px;

  @include vp-1023 {
    padding: 100px 45px;
    flex-direction: column;
  }

  @include vp-767 {
    padding: 65px 15px;
  }
}

.booking__content-wrapper {
  margin-right: auto;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 60px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.booking__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  @include vp-1023 {
    margin-bottom: 10px;
    font-size: 34px;
    line-height: 51px;
  }

  @include vp-767 {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
  }
}

.booking__description {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  max-width: 352px;

  @include vp-1023 {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    max-width: 257px;
  }
}

.booking__form-wrapper {
  padding: 50px;
  max-width: 403px;
  background-color: $color-tangaroa;
  color:  $color-alice-blue;

  @include vp-767 {
    padding: 40px 30px;
  }
}

.booking__form-title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;


  @include vp-767 {
    text-align: center;
    line-height: 25px;
  }
}

