.cruise-card {
  display: grid;
  grid-template-rows: auto 40px;
  padding: 32px 25px 28px;
  color: $color-alice-blue;
  background-color: $color-tangaroa;
  min-width: 23%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/tours/olimpiya.webp");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/tours/olimpiya@2x.webp");
  }

  &--1 {
    background-image: url("../img/tours/astoria.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/astoria@2x.webp");
    }
  }

  &--3 {
    background-image: url("../img/tours/atlantis.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/atlantis@2x.webp");
    }
  }

  &--4 {
    background-image: url("../img/tours/odisey.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/odisey@2x.webp");
    }
  }

  &--6 {
    background-image: url("../img/tours/avrora.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/avrora@2x.webp");
    }
  }

  &--7 {
    background-image: url("../img/tours/leonor.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/leonor@2x.webp");
    }
  }

  &--8 {
    background-image: url("../img/tours/minion.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tours/minion@2x.webp");
    }
  }

  @include vp-1023 {
    background-position: bottom;
    padding: 30px 35px 35px;
    grid-template-rows: auto 43px;

    &--1 {
      background-position: top;
    }
  }

  @include vp-767 {
    padding: 32px 25px 25px;


    &--1 {
      background-position: 0 30%;
    }
  }
}

.cruise-card h3 {
  align-self: end;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;

  grid-row: 2 / 3;

  @include vp-1023 {
    padding: 0;
  }
}

.cruise-card__inner-wrapper {
  display: flex;
  flex-direction: column;
  visibility: hidden;

  min-height: 286px;

  @include vp-1023 {
    min-height: 278px;
  }

  @include vp-767 {
    min-height: 286px;
  }
}

// Пведение при наведении

.cruise-card:hover,
.cruise-card:focus,
.cruise-card:focus-within {
  grid-template-rows: repeat(2, auto);
  background-image: none;
  outline: none;
}

.cruise-card:hover h3,
.cruise-card:focus h3,
.cruise-card:focus-within h3 {
  padding: 0;
  margin: 0 0 22px;
  align-items: flex-start;

  grid-row: 1 / 2;

  @include vp-1023 {
    margin-bottom: 25px;
  }
}

.cruise-card:hover .cruise-card__inner-wrapper,
.cruise-card:focus .cruise-card__inner-wrapper,
.cruise-card:focus-within .cruise-card__inner-wrapper {
  visibility: visible;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.cruise-card__inner-wrapper ul {
  margin: 0;
  margin-bottom: auto;
  padding: 0;
  list-style: none;
}

.cruise-card__inner-wrapper li {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.cruise-card__inner-wrapper h4 {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;

  @include vp-767 {
    line-height: 10px;
  }
}

.cruise-card__inner-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.cruise-card__inner-wrapper a {
  padding: 10px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }

  @include hover-focus {
    opacity: 0.8;
    outline: none;
  }
}
