.main-block {
  background-color: $color-tangaroa;
  background-image: url("../img/main-block.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  color: $color-alice-blue;
  min-width: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-block@2x.webp");
  }

  @include vp-767 {
    background-position: 40% 20%;
    background-size: 767px 620px;
  }
}

.main-block__wrapper {
  min-height: 650px;
  padding: 270px 95px;
  max-width: 1160px;

  @include vp-1023 {
    min-height: 638px;
    padding: 272px 45px;
  }

  @include vp-767 {
    padding: 175px 15px;
    min-height: 500px;
    max-height: 500px;
  }
}

.main-block__title {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin: 0 0 17px;
    font-size: 50px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 12px;
  }
}

.main-block__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }
}
