.main-block {
  padding: 283px 100px;
  background-color: $color-tangaroa;
  background-image: url('../img/main-block.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
